process {

  errorStrategy = 'retry'
  maxRetries = 3

  cpus = { max_cpus( 1 * task.attempt ) }
  memory = { max_memory( 1.GB * task.attempt ) }
  time = { max_time( 1.h * task.attempt ) }

  withName: 'gunzip_fasta' {
    cpus = 1
    memory = { max_memory( 100.MB * task.attempt ) }
    time = { max_time( 1.h * task.attempt ) }
  }

  withName: 'gunzip_gtf' {
    cpus = 1
    memory = { max_memory( 100.MB * task.attempt ) }
    time = { max_time( 10.m * task.attempt ) }
  }

  withName: 'star_index' {
    cpus = 8
    memory = { max_memory( 36.GB * task.attempt ) }
    time = { max_time( 48.h * task.attempt ) }
  }

  withName: 'samtools_faidx' {
    cpus = 1
    memory = { max_memory( 1.GB * task.attempt ) }
    time = { max_time( 2.h * task.attempt ) }
  }

  withName: 'create_rnaseqc_gtf' {
    cpus = 1
    memory = { max_memory( 1.GB * task.attempt ) }
    time = { max_time( 1.h * task.attempt ) }
  }

  withName: 'gtftogenepred' {
    cpus = 1
    memory = { max_memory( 1.GB * task.attempt ) }
    time = { max_time( 1.h * task.attempt ) }
  }

  withName: 'genepredtobed' {
    cpus = 1
    memory = { max_memory( 1.GB * task.attempt ) }
    time = { max_time( 1.h * task.attempt ) }
  }

  withName: 'rsem_extract_reference_transcripts' {
    cpus = 1
    memory = { max_memory( 2.GB * task.attempt ) }
    time = { max_time( 1.h * task.attempt ) }
  }

  withName: 'rsem_preref' {
    cpus = 1
    memory = { max_memory( 1.GB * task.attempt ) }
    time = { max_time( 1.h * task.attempt ) }
  }

  withName: 'extract_annotations' {
    cpus = 1
    memory = { max_memory( 1.GB * task.attempt ) }
    time = { max_time( 1.h * task.attempt ) }
  }

  withName: 'fatotwobit' {
    cpus = 1
    memory = { max_memory( 1.GB * task.attempt ) }
    time = { max_time( 1.h * task.attempt ) }
  }

  withName: 'twobitinfo' {
    cpus = 1
    memory = { max_memory( 1.GB * task.attempt ) }
    time = { max_time( 1.h * task.attempt ) }
  }

  withName: 'fastqc_raw' {
    cpus = 1
    memory = { max_memory( 1.GB * task.attempt ) }
    time = { max_time( 6.h * task.attempt ) }
  }

  withName: 'cutadapt' {
    cpus = 3
    memory = { max_memory( 1.GB * task.attempt ) }
    time = { max_time( 48.h * task.attempt ) }
  }

  withName: 'fastqc_trimmed' {
    cpus = 1
    memory = { max_memory( 1.GB * task.attempt ) }
    time = { max_time( 6.h * task.attempt ) }
  }

  withName: 'star' {
    cpus = 8
    memory = { max_memory( 36.GB * task.attempt ) }
    time = { max_time( 48.h * task.attempt ) }
  }

  withName: 'mark_duplicates' {
    cpus = 1
    memory = { max_memory( 32.GB * task.attempt ) }
    time = { max_time( 48.h * task.attempt ) }
  }

  withName: 'samtools_index' {
    cpus = 1
    memory = { max_memory( 1.GB * task.attempt ) }
    time = { max_time( 3.h * task.attempt ) }
  }

  withName: 'bam_stat' {
    cpus = 1
    memory = { max_memory( 4.GB * task.attempt ) }
    time = { max_time( 12.h * task.attempt ) }
  }

  withName: 'gene_body_coverage' {
    cpus = 1
    memory = { max_memory( 4.GB * task.attempt ) }
    time = { max_time( 48.h * task.attempt ) }
  }

  withName: 'infer_experiment' {
    cpus = 1
    memory = { max_memory( 4.GB * task.attempt ) }
    time = { max_time( 12.h * task.attempt ) }
  }

  withName: 'inner_distance' {
    cpus = 1
    memory = { max_memory( 4.GB * task.attempt ) }
    time = { max_time( 12.h * task.attempt ) }
  }

  withName: 'junction_annotation' {
    cpus = 1
    memory = { max_memory( 4.GB * task.attempt ) }
    time = { max_time( 12.h * task.attempt ) }
  }

  withName: 'junction_saturation' {
    cpus = 1
    memory = { max_memory( 4.GB * task.attempt ) }
    time = { max_time( 12.h * task.attempt ) }
  }

  withName: 'read_distribution' {
    cpus = 1
    memory = { max_memory( 4.GB * task.attempt ) }
    time = { max_time( 12.h * task.attempt ) }
  }

  withName: 'read_duplication' {
    cpus = 1
    memory = { max_memory( 24.GB * task.attempt ) }
    time = { max_time( 48.h * task.attempt ) }
  }

  withName: 'read_gc' {
    cpus = 1
    memory = { max_memory( 24.GB * task.attempt ) }
    time = { max_time( 48.h * task.attempt ) }
  }

  withName: 'rna_seqc' {
    cpus = 1
    memory = { max_memory( 4.GB * task.attempt ) }
    time = { max_time( 6.h * task.attempt ) }
  }

  withName: 'rna_seqc_summary' {
    cpus = 1
    memory = { max_memory( 100.MB * task.attempt ) }
    time = { max_time( 1.h * task.attempt ) }
  }

  withName: 'infer_strandedness' {
    cpus = 1
    memory = { max_memory( 100.MB * task.attempt ) }
    time = { max_time( 10.m * task.attempt ) }
  }

  withName: 'summarize_strandedness' {
    cpus = 1
    memory = { max_memory( 10.MB * task.attempt ) }
    time = { max_time( 10.m * task.attempt ) }
  }

  withName: 'rsem_mparams' {
    cpus = 1
    memory = { max_memory( 10.MB * task.attempt ) }
    time = { max_time( 1.m * task.attempt ) }
  }

  withName: 'rsem_parse_alignments' {
    cpus = 1
    memory = { max_memory( 1.GB * task.attempt ) }
    time = { max_time( 12.h * task.attempt ) }
  }

  withName: 'rsem_build_read_index' {
    cpus = 1
    memory = { max_memory( 100.MB * task.attempt ) }
    time = { max_time( 3.h * task.attempt ) }
  }

  withName: 'rsem_run_em' {
    cpus = 8
    memory = { max_memory( 8.GB * task.attempt ) }
    time = { max_time( 12.h * task.attempt ) }
  }

  withName: 'rsem_run_gibbs' {
    cpus = 8
    memory = { max_memory( 8.GB * task.attempt ) }
    time = { max_time( 12.h * task.attempt ) }
  }

  withName: 'rsem_calc_ci' {
    cpus = 8
    memory = { max_memory( 33.GB * task.attempt ) }
    time = { max_time( 12.h * task.attempt ) }
  }

  withName: 'collect_gene_results|collect_isoform_results' {
    cpus = 1
    memory = { max_memory( 1.GB * task.attempt ) }
    time = { max_time( 10.m * task.attempt ) }
  }

  withName: 'annotate_gene_results|annotate_isoform_results' {
    cpus = 1
    memory = { max_memory( 1.GB * task.attempt ) }
    time = { max_time( 10.m * task.attempt ) }
  }

  withName: 'summarize_genes|summarize_isoforms' {
    cpus = 1
    memory = { max_memory( 100.MB * task.attempt ) }
    time = { max_time( 1.h * task.attempt ) }
  }

  withName: 'rsem_tbam2gbam' {
    cpus = 4
    memory = { max_memory( 1.GB * task.attempt ) }
    time = { max_time( 6.h * task.attempt ) }
  }

  withName: 'rsem_get_unique' {
    cpus = 4
    memory = { max_memory( 1.GB * task.attempt ) }
    time = { max_time( 6.h * task.attempt ) }
  }

  withName: 'rsem_sort_bam' {
    cpus = 5
    memory = { max_memory( 4.GB * task.attempt ) }
    time = { max_time( 12.h * task.attempt ) }
  }

  withName: 'rsem_index_bam' {
    cpus = 1
    memory = { max_memory( 200.MB * task.attempt ) }
    time = { max_time( 12.h * task.attempt ) }
  }

  withName: 'rsem_bam2wig' {
    cpus = 1
    memory = { max_memory( 2.GB * task.attempt ) }
    time = { max_time( 3.h * task.attempt ) }
  }

  withName: 'rsem_wig2bigwig' {
    cpus = 1
    memory = { max_memory( 3.GB * task.attempt ) }
    time = { max_time( 1.h * task.attempt ) }
  }

  withName: 'rsem_bam2readdepth' {
    cpus = 1
    memory = { max_memory( 100.MB * task.attempt ) }
    time = { max_time( 3.h * task.attempt ) }
  }

  withName: 'multiqc' {
    cpus = 1
    memory = { max_memory( 4.GB * task.attempt ) }
    time = { max_time( 1.h * task.attempt ) }
  }
}

params {

  max_cpus = 16
  max_memory = 128.GB
  max_time = 200.h
}
