process {

  withLabel: 'cutadapt' {
    conda = 'cutadapt=2.3=py37h14c3975_0'
  }

  withLabel: 'fastqc' {
    conda = 'fastqc=0.11.8=1'
  }

  withLabel: 'gffutils' {
    conda = 'gffutils=0.9=py_1'
  }

  withLabel: 'multiqc' {
    conda = 'multiqc=1.7=py_4'
  }

  withLabel: 'picard' {
    conda = 'picard=2.20.2=0'
  }

  withLabel: 'python' {
    conda = 'python=3.7.1'
  }

  withLabel: 'rna_seqc' {
    conda = 'rna-seqc=1.1.8=2'
  }

  withLabel: 'rsem' {
    conda = 'rsem=1.3.0=pl526r341h4f16992_4'
  }

  withLabel: 'rseqc' {
    conda = 'rseqc=3.0.0=py_3'
  }

  withLabel: 'samtools' {
    conda = 'samtools=1.9=h8571acd_11'
  }

  withLabel: 'star' {
    conda = 'star=2.7.1a=0'
  }

  withLabel: 'ucsc_fatotwobit' {
    conda = 'ucsc-fatotwobit=366=h5eb252a_0'
  }

  withLabel: 'ucsc_genepredtobed' {
    conda = 'ucsc-genepredtobed=366=h5eb252a_0'
  }

  withLabel: 'ucsc_gtftogenepred' {
    conda = 'ucsc-gtftogenepred=366=h5eb252a_0'
  }

  withLabel: 'ucsc_twobitinfo' {
    conda = 'ucsc-twobitinfo=366=h5eb252a_0'
  }

  withLabel: 'ucsc_wigtobigwig' {
    conda = 'ucsc-wigtobigwig=366=h5eb252a_0'
  }
}
