params {
  max_cpus = 8
  max_memory = 36.GB
  max_time = 3.h

  star_genome_sa_index_n_bases = 11

  csv = "${baseDir}/tests/HCC1395-SE.csv"
  fasta = 'https://github.com/ampatchlab/test-datasets/raw/rnaseq/HCC1395/reference/GRCh38.primary_assembly.genome.chr22.fa.gz'
  gtf = 'https://github.com/ampatchlab/test-datasets/raw/rnaseq/HCC1395/reference/gencode.v30.primary_assembly.annotation.chr22.gtf.gz'
}
