executor{

  jobName = { task.process }

  queueSize = 1000
  killBatchSize = 1000
}

process {

  executor = 'pbspro'
  cache = 'lenient'

  beforeScript = 'module load miniconda3/current singularity/2.6.0'
}

params {

  genomes {
    'GRCh37' {
      fasta = '/reference/genomes/gencode/Gencode_human/release_31/GRCh37_mapping/GRCh37.primary_assembly.genome.fa.gz'
      gtf   = '/reference/genomes/gencode/Gencode_human/release_31/GRCh37_mapping/gencode.v31lift37.annotation.gtf.gz'
    }
    'GRCh38' {
      fasta = '/reference/genomes/gencode/Gencode_human/release_31/GRCh38.primary_assembly.genome.fa.gz'
      gtf   = '/reference/genomes/gencode/Gencode_human/release_31/gencode.v31.primary_assembly.annotation.gtf.gz'
    }
    'GRCm38' {
      fasta = '/reference/genomes/gencode/Gencode_mouse/release_M22/GRCm38.primary_assembly.genome.fa.gz'
      gtf   = '/reference/genomes/gencode/Gencode_mouse/release_M22/gencode.vM22.primary_assembly.annotation.gtf.gz'
    }
  }
}

conda {

  cacheDir = '/working/lab_ann-mariep/shared/cache/conda'
  createTimeout = 1.h
}

singularity {

  cacheDir = '/working/lab_ann-mariep/shared/cache/singularity'
}
