executor{

  jobName = { task.process }

  queueSize = 1000
  killBatchSize = 1000
}

process {

  executor = 'pbspro'
  cache = 'lenient'

  beforeScript = 'module load miniconda3/current singularity/3.3.0'
}

params {

  genomes {
    'GRCh37' {
      fasta = '/reference/genomes/gencode/Gencode_human/release_32/GRCh37_mapping/GRCh37.primary_assembly.genome.fa.gz'
      gtf   = '/reference/genomes/gencode/Gencode_human/release_32/GRCh37_mapping/gencode.v32lift37.annotation.gtf.gz'
    }
    'GRCh38' {
      fasta = '/reference/genomes/gencode/Gencode_human/release_32/GRCh38.primary_assembly.genome.fa.gz'
      gtf   = '/reference/genomes/gencode/Gencode_human/release_32/gencode.v32.primary_assembly.annotation.gtf.gz'
    }
    'GRCm38' {
      fasta = '/reference/genomes/gencode/Gencode_mouse/release_M23/GRCm38.primary_assembly.genome.fa.gz'
      gtf   = '/reference/genomes/gencode/Gencode_mouse/release_M23/gencode.vM23.primary_assembly.annotation.gtf.gz'
    }
  }
}

conda {

  cacheDir = '/working/genomeinfo/share/containers/conda'
  createTimeout = 1.h
}

singularity {

  cacheDir = '/working/genomeinfo/share/containers/singularity'
}
